@charset "UTF-8";
// Colors
@import "components/color";
// Variables;
@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";
// Parientals Custom
@import "parientals/variables-polar.scss";
@import "parientals/type.scss";
@import "parientals/mixins.scss";
@import "parientals/header.scss";
@import "parientals/cover.scss";
@import "parientals/calugas.scss";
@import "parientals/productos.scss";
@import "parientals/categorias.scss";
@import "parientals/footer.scss";
@import "parientals/swiper-custom.scss";
@import "parientals/swiper.scss";