.header_main {
    z-index: 1000;
    transition: all .4s ease-out;
    //Logotipo
    & .brand-logo {
        //min-height: 64px;
        & img {
            width: 50px;
            margin-top: 5px;
            margin-left: 10px;
            @media screen and (max-width:480px) {
                margin-top: 0;
                margin-left: 0;
                width: 50px;
                padding-top: 4px;
            }
        }
    }
    & .nav-menu {
        
    }
    //UL Menu Main Desktop
    & .nav-desktop {
        //width: auto!important;
        & .link-menu-desktop {
            font-weight: 500;
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: grey;
            transition: $transition1;
            & .icon-link {
                margin-right: .5rem;
                font-weight: 400;
                line-height: 40px;
                height: 40px;
                width: 40px;
                font-size: 1.5rem;
                text-align: center;
                color: gray;
                transition: all .4s;
                border-radius: 50%;
            }
            & .icon-link-active {
                background: transparent;
                border-radius: 50%;
                color: $whitePolar;
                animation: active-menu 1s infinite alternate;
            }
            @keyframes active-menu {
                0% {
                    box-shadow: 0 0 0 3px rgba(234, 8, 34, .7);
                    background: $redPolar;
                }
                100% {
                    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
                    background: black;
                    color: $redPolar;
                }
            }
        }
        //BTN ACTIVADO
        & .active, .active:active, .active:focus {
            background: transparent;
            color: $whitePolar;
            & .icon-link {
                border-radius: 50%;
                color: $redPolar;
                animation: active-menu 1s 1 alternate 0s;
            }
            @keyframes active-menu {
                0% {
                    box-shadow: 0 0 0 3px rgba(234, 8, 34, .7);
                    background: $redPolar;
                    color: $whitePolar;
                }
                100% {
                    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
                    background: black;
                    color: $redPolar;
                }
            }
        }
        & .link-menu-desktop:hover .icon-link, & .link-menu-desktop:hover {
            color: $whitePolar;
        }
        & .active:hover .icon-link {
            color: $redPolar;
        }
        
    }
    //Sub-Menu Desktop
    & .nav-content {
        & .sub-menu-desktop {
            background: $whitePolar;
            box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
            margin: 0 auto;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            height: 56px;
            width: 100%;
            white-space: nowrap;
            display: flex;
            justify-content: space-around;
            @media screen and (max-width:768px) {
                justify-content: flex-start;
                position: fixed;
                bottom: 0;
                box-shadow: 0 -1px 0px 0 $lineColor;
            }
            & li {
                flex: auto;
            }
            & .link-sub-menu {
                color: $blackPolar;
                line-height: 56px;
                font-size: 24px;
                display: flex;
                justify-content: center;
                transition: $transition1;
                @media screen and (max-width:480px) {
                    padding: 0 1.3rem;
                }
                @media screen and (max-width:321px) {
                    font-size: 22px;
                }
            }
            & .link-sub-menu:hover, .link-sub-menu:active, .link-sub-menu:focus {
                color: $redPolar;
                background: transparent;
            }
            & .link-title {
                font-size: 1rem;
                border-right: 1px solid #f0f0f0;
            }
            @media screen and (max-width:480px) {
                & .link-title:hover, & .link-title:active, & .link-title:focus{
                    color: $blackPolar!important;
                }
            }
        }

    }
    //Menu Main Mobile
    & .nav-mobile {
        background: $blackPolar;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: $transition1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        box-shadow: none!important;
        & .link-menu-mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .icon-link {
                line-height: inherit;
            }
        }
    }

}

.menu-fixed {
    opacity: 1!important;
    visibility:visible!important;
    transform: translateY(0px)!important;
}
.line-menu {
    box-shadow: 0 1px 0 #353535;
}
