.timer-premios-container {
    margin: 0;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 4rem 0;        
    & .timer-container, .premios-container {
        position: relative;
        //padding: 0 2rem;
        & .timer-producto{
            justify-content: center;
            align-items: center;
            position: relative;
        }
        & .img-bomba {
            width: 300px;
        }
        & .contenido-textual {
            h1,h2,h3,p,a {
                margin: 0;
                margin-bottom: .5rem;
            }
            h1 {
                font-size: 2rem;
                font-weight: 600;
            }
            h2 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.5rem;
                display: flex;
                align-content: center;
                & .signo-peso {
                    font-size: 1.2rem;
                    padding-right: 2px;
                    vertical-align: middle;
                }
            }
            p {
                color: $myParrafo;
                font-size: 1rem;
            }
        }
    }
    & .premios-container {
        border-left: 2px solid $lineColor;
        min-height: 350px;
    }
}

.btn-red {
    color: $redPolar;
    border: 2px solid #ea082228;
    line-height: 40px;
    padding: 0 2rem;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    font-weight: 600;
    background: $whitePolar;
    transition: $transition1;
    letter-spacing: 1px;
    font-size: .9rem;

}
.btn-red:hover {
    box-shadow: 0 20px 30px -15px rgba(0,0,0,.4);
    background: $redPolar;
    color: $whitePolar;

}

//TIMER
.content-timer {
    justify-content: space-between;
    align-items: center;
    & .box-timer, & .box-valor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        & .valor-timer {
            font-size: 1.3rem;
            text-align: left;
        }
        & .text-timer {
            font-size: .8rem;
            text-align: left;
        }
    }
}