/*color*/

$redPolar: #ea0822;
$blackPolar: #000000;
$whitePolar: #ffffff;
$lineColor: #f0f0f0;
$titleBack: #fafafa;
$myParrafo: #777777;
$cyber: #4963E6;

/* WIDTH */

$width: 100%;
$max-width: 960px;
$min-width: 960px;

/* TYPE */

$type: 'Montserrat', sans-serif;
$typeTitle: 'Montserrat', sans-serif;

/* TRANSITION */

$transition1: all .4s ease;
$transition2: all .4s ease-in;
$transition3: all .4s ease-in-out;

/* RESPONSIVE */

$break-small: 320px;
$break-medium: 425px;
$break-tablet: 768px;
$break-large: 1280px;

